@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Style/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="jumbotron">
        <h1>Store First Page</h1>

    </div>

    <div class="row">
        <table>
            <tr>
                <td><a href="default.asp"><img src="~/Content/Images/Image.jpg" alt="Game Cover" style="width:200px;height:200px;"></a></td>
                <td><a href="default.asp"><img src="~/Content/Images/Image.jpg" alt="Game Cover" style="width:200px;height:200px;"></a></td>
                <td><a href="default.asp"><img src="~/Content/Images/Image.jpg" alt="Game Cover" style="width:200px;height:200px;"></a></td>
                <td><a href="default.asp"><img src="~/Content/Images/Image.jpg" alt="Game Cover" style="width:200px;height:200px;"></a></td>
            </tr>
            <tr>
                <td><a href="default.asp"><img src="~/Content/Images/Image.jpg" alt="Game Cover" style="width: 200px; height: 200px; "></a></td>
                <td><a href="default.asp"><img src="~/Content/Images/Image.jpg" alt="Game Cover" style="width: 200px; height: 200px; "></a></td>
                <td><a href="default.asp"><img src="~/Content/Images/Image.jpg" alt="Game Cover" style="width: 200px; height: 200px; "></a></td>
                <td><a href="default.asp"><img src="~/Content/Images/Image.jpg" alt="Game Cover" style="width: 200px; height: 200px; "></a></td>
            </tr>
            <tr>
                <td><a href="default.asp"><img src="~/Content/Images/Image.jpg" alt="Game Cover" style="width: 200px; height: 200px; "></a></td>
                <td><a href="default.asp"><img src="~/Content/Images/Image.jpg" alt="Game Cover" style="width: 200px; height: 200px; "></a></td>
                <td><a href="default.asp"><img src="~/Content/Images/Image.jpg" alt="Game Cover" style="width: 200px; height: 200px; "></a></td>
                <td><a href="default.asp"><img src="~/Content/Images/Image.jpg" alt="Game Cover" style="width: 200px; height: 200px; "></a></td>
            </tr>
            <tr>
                <td><a href="default.asp"><img src="~/Content/Images/Image.jpg" alt="Game Cover" style="width: 200px; height: 200px; "></a></td>
                <td><a href="default.asp"><img src="~/Content/Images/Image.jpg" alt="Game Cover" style="width: 200px; height: 200px; "></a></td>
                <td><a href="default.asp"><img src="~/Content/Images/Image.jpg" alt="Game Cover" style="width: 200px; height: 200px; "></a></td>
                <td><a href="default.asp"><img src="~/Content/Images/Image.jpg" alt="Game Cover" style="width: 200px; height: 200px; "></a></td>
            </tr>
        </table>
    </div>
</body>